apiVersion: v1
kind: Service
metadata:
  name: app1
spec:
  selector:
    app: app1
  ports:
  - port: 80       # Service port
    targetPort: 80 # Container port
  type: ClusterIP   # Can be NodePort if you want direct access without Ingress
